body {
    width: 100%;
    background-color: rgb(37, 37, 38);
    background-image: url("../img/vscode_bg_img.png");
    background-position: center top;
    background-repeat: no-repeat;
    color: rgb(203, 203, 206);
}

header {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.5em;
    text-align: center;
    margin-top: 80px;
    color:rgb(15, 121, 210);
}

div.team{
    text-align: center; 
}

.floating-box {
    vertical-align: text-top;
    display: inline-block;
    width: 20%;
    height: 25%;
    margin: 10px;
    }
    

p {
    text-justify: distribute;
    text-align: justify;
}



