body {
    background-color: rgb(37, 37, 38);
    background-image: url("../img/vscode_bg_img.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(203, 203, 206);
}

section#quiz img {
    width: 600px;
    border: solid 2px rgb(15, 121, 210);
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.0em;
    color: rgb(230, 224, 70);
    text-align: center;
    margin-top: 40px;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 150px;
    color: rgb(203, 133, 73);
}

h3 {
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 150px;
    color: rgb(87, 201, 174);
}

h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
    text-align: center;
}
p {
    font-family: 'Share', cursive;
    font-size: 1.2em;
    color: rgb(190, 190, 190);
    letter-spacing: 0.05em;
    line-height: 1.6em;
    margin: auto 150px;
}

form {
    text-align: center;
    margin-top: 40px;
}
input {
    font-size: 2em;
    color: #1E1E1E;
    background-color: #f2f2f2;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    background-repeat: no-repeat;
    background-position: 8px 9px;
}
    input#submit {
    color: #444444;
    text-shadow: 0px 1px 1px #ffffff;
    border-bottom: 2px solid #b2b2b2;
    background-color: #b9e4e3;
    background: -webkit-gradient(linear, left top, left bottom, from(#beeae9), to(#a8cfce));
    background: -moz-linear-gradient(top, #beeae9, #a8cfce);
    background: -o-linear-gradient(top, #beeae9, #a8cfce);
    background: -ms-linear-gradient(top, #beeae9, #a8cfce);
}
    input#submit:hover {
    color: #333333;
    border: 1px solid #a4a4a4;
    border-top: 2px solid #b2b2b2;
    background-color: #a0dbc4;
    background: -webkit-gradient(linear, left top, left bottom, from(#a8cfce), to(#beeae9));
    background: -moz-linear-gradient(top, #a8cfce, #beeae9);
    background: -o-linear-gradient(top, #a8cfce, #beeae9);
    background: -ms-linear-gradient(top, #a8cfce, #beeae9);
}
    