body {
    width: 100%;
    background-color: rgb(37, 37, 38);
    background-image: url("img/vscode_bg_img.png");
    background-position: center top;
    background-repeat: no-repeat;
    color: #fff;
}

section#quiz img {
    width: 600px;
    border: solid 2px rgb(15, 121, 210);
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.5em;
    color: rgb(230, 224, 70);
    text-align: center;
    margin-top: 80px;
}
h2 {
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 150px;
    color: rgb(203, 133, 73);
}
h3 {
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 150px;
    color: rgb(87, 201, 174);
}
p {
    font-family: 'Share', cursive;
    font-size: 1.2em;
    line-height: 1.6em;
    margin: auto 150px;
}
div#form {
    text-align: center;
}
