body {
    /* width: 100%; */
    background-color: rgb(37, 37, 38);
    background-image: url("../img/vscode_bg_img.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(203, 203, 206);
}

section#quiz img {
    width: 600px;
    border: solid 2px rgb(15, 121, 210);
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.5em;
    color: rgb(230, 224, 70);
    text-align: center;
    margin-top: 80px;
}
h2 {
    font-family: 'Source Sans Pro', sans-serif;
    /* margin-left: 150px; */
    color: rgb(203, 133, 73);
}
h3 {
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 150px;
    color: rgb(87, 201, 174);
}
p {
    font-family: 'Share', cursive;
    font-size: 1.2em;
    line-height: 1.6em;
    margin: auto 150px;
}
nav{
    margin: 5%;
    /* margin-top: 5%; */
}
nav > ul > li{
    display: inline;
    margin: 0 2%;
}
nav > ul > li > a{
    text-decoration: none;
    color: rgb(203, 133, 73);
}
nav > ul{
    display: inline;
    font-size: 24px;
}
nav > a{
    display: inline;
    font-size: 30px;
    text-decoration: none;
    color: rgb(15, 121, 210);
    margin-right: 45%;
    margin-left: 8%;
}
#learnGame{
    display: flex;
}
#learnGame > section{
    margin: 0 7%;
    text-align: center;
    width: 20%;
    background-image: url('../img/card.png');
    /* border: 2px outset rgb(15, 121, 210); */
    border-radius: 2px;
    z-index: 1;
}
section > section{
    background-color: rgba(124, 124, 124, 0.4);
    z-index: 2;
    height: 180px;
    /* margin-top: -20px; */
    border: 2px outset rgb(15, 121, 210);
    border-radius: 2px;
    padding: 5px;
}
h4{
    color: rgb(37, 37, 38);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}
a{
    font-family: 'Source Sans Pro', sans-serif;
}
h3{
    margin-left: 13%;
}


/* **************************************BUTTON SECTION************************************* */

#buttonSpace{
    margin-left: 42%;
}


/* **********************************FORM SECTION*************************************** */

#inputter{
    align-content: center;
}
#new-store{
    width: 40%;
    margin-left: 30%;
}
/* form{

} */