body {
    background-image: url("../img/vscode_bg_img.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}
a{
    font-family: 'Source Sans Pro', sans-serif !important;
}
p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    margin: 2%;
}
#quiz{
    text-align: center;
}
nav{
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 3%;
}
nav > ul > li{
    display: inline;
    margin: 0 2%;
}
nav > ul > li > a{
    text-decoration: none;
    color: rgb(203, 133, 73);
}
nav > ul{
    display: inline;
    font-size: 24px;
}
nav > a{
    display: inline;
    font-size: 30px;
    text-decoration: none;
    color: rgb(15, 121, 210);
    margin-right: 45%;
    margin-left: 8%;
}