body {
    /* width: 100%; */
    /* background-color: rgb(37, 37, 38); */
    background-image: url("../img/vscode_bg_img.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.container{
    /* text-align: center; */
    /* justify-content: center; */
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    width: 80%;
}

section#quiz img {
    width: 450px;
}

p {
    font-family: 'Share', cursive;
    font-size: 1.2em;
    line-height: 1.6em;
    margin: auto 150px;
}

#quiz{
    text-align: center;
}

nav{
    margin: 5%;
}
nav > ul > li{
    display: inline;
}
nav > ul > li > a{
    text-decoration: none;
    color: rgb(203, 133, 73);
}
nav > ul{
    display: inline;
    float: right;
    font-size: 24px;
}
nav > a{
    display: inline;
    font-size: 30px;
    text-decoration: none;
    color: rgb(15, 121, 210);
}